@font-face {
    font-family: 'startrek';
    src: url('../assets/fonts/startrek.eot');
    src: url('../assets/fonts/startrek.eot?#iefix') format('embedded-opentype'), 
        url('../assets/fonts/startrek.woff') format('woff'), 
        url('../assets/fonts/startrek.ttf') format('truetype'), 
        url('../assets/fonts/startrek.svg#Dock51') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body {
    background: #000;
    min-height: 100%;
}

/* Scale and Center align */
canvas {
    position: absolute;
    min-width: 320px;
    max-width: 100%;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

    canvas#arcade {
        display: block;
        width: 800px;
        background: #808080;
        border: solid 1px #808080;
        border-radius: 15px;
    }
